<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    .bg {
        /* The image used */
        background-image: url("static/images/backgrounds/{{ bg }}");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .btn-circle.btn-xl {
        width: 100px;
        height: 100px;
        padding: 0px 0px;
        border-radius: 100%;
        font-size: 10px;
        text-align: left;
    }

    .container {
        position: relative;
        text-align: center;
        color: rgb(49, 59, 63);
    }

    .centered {
        color: rgb(44, 49, 65);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left {
        color: rgb(44, 49, 65);
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-70%, -50%);
    }

    .right {
        color: rgb(44, 49, 65);
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-20%, -50%);
    }


    .inputs {
        text-align: center;
        border-style: none;
        font-size: large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: blanchedalmond;
        background-color: rgb(35, 53, 82);
        outline: none;
        border-color: rgb(33, 53, 82);
        border-radius: 10px;
        margin: 10px;

    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
        transition: font-family Georgia, 'Times New Roman', Times, serif;



    }

    .text {
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
</style>
</head>

<body>

    <div class="bg">

        <br><br>

        <div class="container">
            <img src="static/images/backgrounds/blank.png" style="width:900px;">
            
            <div class="left">
                <img src="static/images/cards/{{ deck_pic }}" style="width: 250px;">
            </div>
            
            <div class="centered">

                <h2 class="text">Choose a BACK-GROUND </h2>
                <div>
                    <a href="{% url 'option_bg1' %}"><img src="static/images/backgrounds/back_ground.jpg" style="width:150px;"></a>
                    <a href="{% url 'option_bg2' %}"><img src="static/images/backgrounds/back_ground_2.jpg" style="width:150px;"></a>
                    <a href="{% url 'option_bg3' %}"><img src="static/images/backgrounds/back ground_3.jpg" style="width:150px;"></a>
                </div>

                <br><br>

                <h2 class="text">Choose a PROFILE-PICK </h2>
                <div>
                    <a href=" {% url 'option_prof1' %}"><img src="static/images/profile/profile1.png" style="width:100px;"></a>
                    <a href=" {% url 'option_prof2' %}"><img src="static/images/profile/profile2.png" style="width:100px;"></a>
                    <a href=" {% url 'option_prof3' %}"><img src="static/images/profile/profile3.png" style="width:100px;"></a>
                    <a href=" {% url 'option_prof4' %}"><img src="static/images/profile/profile4.png" style="width:100px;"></a>
                    <a href=" {% url 'option_prof5' %}"><img src="static/images/profile/profile5.png" style="width:100px;"></a>
                    <a href=" {% url 'option_prof6' %}"><img src="static/images/profile/profile6.png" style="width:100px;"></a>

                </div>


                <br><br>


                <h2 class="text">Choose a DECK </h2>
                
                <div>
                    <a href=" {% url 'option_deck1' %}"><img src="static/images/cards/Deck-Red.png" style="width:65px;"></a>
                    <a href=" {% url 'option_deck2' %}"><img src="static/images/cards/Deck-Purple.png" style="width:65px;"></a>
                    <a href=" {% url 'option_deck3' %}"><img src="static/images/cards/Deck-Blue.png" style="width:65px;"></a>
                    <a href=" {% url 'option_deck4' %}"><img src="static/images/cards/Deck-Green.png" style="width:65px;"></a>
                    <a href=" {% url 'option_deck5' %}"><img src="static/images/cards/Deck-Yellow.png" style="width:65px;"></a>
                    <a href=" {% url 'option_deck6' %}"><img src="static/images/cards/Deck-Orange.png" style="width:65px;"></a>
                    <a href=" {% url 'option_deck7' %}"><img src="static/images/cards/Deck-Grey.png" style="width:65px;"></a>
                </div>

            </div>

            <div class="right">
                <img src="static/images/profile/{{ profile_pic }}" style="width: 250px;">
            </div>



        </div>

        <br><br>

        <div style="text-align: center;">

            <a href="{% url 'game' %}"><img src="static/images/buttons/enter.png" width="400"></a>

        </div>

        <br>
        <br>


    </div>


</body>

</html>