{% load static %}


<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    .bg {
        /* The image used */
        background-image: url("static/images/backgrounds/back_ground.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .btn-circle.btn-xl {
        width: 100px;
        height: 100px;
        padding: 0px 0px;
        border-radius: 100%;
        font-size: 10px;
        text-align: left;
    }

    .container {
        position: relative;
        text-align: center;
        color: rgb(49, 59, 63);
    }

    .centered {
        color: rgb(44, 49, 65);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .inputs {
        text-align: center;
        border-style: none;
        font-size: large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: blanchedalmond;
        background-color: rgb(35, 53, 82);
        outline: none;
        border-color: rgb(33, 53, 82);
        border-radius: 10px;
        margin: 10px;

    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
        transition: font-family Georgia, 'Times New Roman', Times, serif;

    }

    .text {
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
</style>
</head>

<body>

    <div class="bg">

        <br><br>

        <div class="container">
            <img src="static/images/backgrounds/blank.png" style="width:900px;">


            <div class="centered">
                <img src="static/images/profile/{{ profile_pic }}"  class="rounded-circle" alt="Cinque Terre" width="100" height="100">
                <br><br>
                <h1 class="text">{{ player.name}}'s PROFILE </h2>

                <br><br>

                <h3 class="text">YOU CURRENTLY HAVE </h3> 
                <h1 class="text">{{ player.coin }} COINS</h1>
                <h3 class="text"> IN YOUR BANK</h3> 
                        
            </div>
        </div>

        <br><br>

        <div style="text-align: center;">
            <a href="{% url 'game' %}"><img src="static/images/buttons/back.png" width="400"></a>

        </div>

        <br>
        <br>

    </div>


</body>

</html>